# Node.js
node_modules/

# Python
venv/
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Misc
*.swp
*.bak
*.tmp 